
/* Classes */

.container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    background-color: #00171f;
}

.header {
    position: absolute;
    width: 100%;
}

.link--contrast {
    margin: 0;
    padding: 0;
    width: 'auto';
    font-size: var(--fluid-type);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-text);
}

.link--contrast:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

/* Segment styles */

.primary {
    display: flex;
    flex-flow: column;
    background-color: var(--color-primary);
    padding-top: 35vh;
    padding-bottom: 15vh;
    height: auto;
    color: var(--color-text);
    text-align: left;
    font-size: var(--fluid-type);
    margin-bottom: 1.5em;
}

.secondary {
    align-items: flex-end;
    background-color: var(--color-secondary);
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    justify-content: center;
    padding: 15rem 0;
}


.tertiary {
    background-color: var(--color-tertiary);
    display: flex;
    flex-flow: column;
    height: auto;
    justify-content: flex-start;
    padding: 10rem 0;
    text-align: right;
}

/* Typography styles */
.secondary-text {
    margin: 0;
    padding: 0;
    width: auto;
    color: var(--color-text);
    text-align: right;
    font-size: var(--fluid-type);
}   

.tertiary-text  {
    margin: 0;
    padding: 0;
    width: auto;
    color: var(--color-primary);
    text-align: left;
    font-size: var(--fluid-type);
}

.tertiary-list {
    list-style: none;
    padding: 0;
}

.tertiary-list > li {
    list-style-type: none;
    margin: 2rem 0;
}

.less-padding {
    padding: 4rem 0;
}

.no-padding {
    padding: 0rem 0;
}

.article-padding {
    padding: 0rem 0rem;
}

@media screen and (min-width: 1025px) and (max-width: 2200px) {
    .article-padding {
        padding: 0rem 8rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .article-padding {
        padding: 0rem 2rem;
    }
}

.inner--primary {  
    background-color: var(--color-primary);
}

.inner--secondary {
    background-color: var(--color-secondary);
}

.inner--tertiary {
     background-color: var(--color-tertiary);
}

/* Dynamic Post content */

.content {
    margin: 6rem 0 0 0;
    padding: 0;
    width: 100%;
    color: var(--color-text);
    font-size: var(--fluid-type-post);
}

/* Custom Svelte way to style these dynamically generated @html elements */
.content > blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1rem 2rem 0.5em;
    margin: 1rem 0rem 1rem 3rem;
    position: relative;
    color: var(--color-primary);
    font-size: var(--fluid-type-post);
    font-weight: 700;
    font-style: italic;
    background-color: var(--color-accent);
}

/* Custom Svelte way to style these dynamically generated @html elements */
.content > blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-primary);
    width: 3rem;
    height: 2rem;
    font: 3rem 'PT Sans', sans-serif;
    color: var(--color-text);
    text-align: center;
}

/* Custom Svelte way to style these dynamically generated @html elements */
.content > h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type);
    margin-bottom: calc(var(--padding) / 12);
    max-width: var(--post-max-width);
}
.content > h2,
.cont t > h3,
.cont t > h4 {
    width: 75%;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type);
    line-height: 1.2em;
}

/* Custom Svelte way to style these dynamically generated @html elements */
.content > ul {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    width: 75%;
    color: var(--color-text);
    list-style-type: disc;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type-post);
    font-weight: 400;
}

/* Blog styles TODO: need to review these, ported from NextJS */

.blog {
    height: auto;
    padding-top: 35vh;
}

@media screen and (max-width: 700px) {
    .blog {
        padding-top: 12vh;
        padding-bottom: 8vh;
    }
}

.blog>p {
    margin: 0;
    padding: 0;
    width: auto;
    color: var(--color-text);
    text-align: right;
    font-weight: bold;
    font-size: var(--fluid-type);
}

.postHeadline {
    height: auto;
    display: block;
    align-items: center;
    padding-top: var(--padding);
    padding-left: calc(calc(100% - var(--post-max-width)) / 2);
    padding-bottom: calc(var(--padding) / 2);
    background-color: var(--color-secondary);
    text-align: left;
    color: var(--color-accent);
    width: 100vw;
}

.postHeadline>h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type);
    margin-bottom: calc(var(--padding) / 12);
    max-width: var(--post-max-width);
}

.postHeadline>time {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type-post);
    font-style: italic;
    max-width: var(--post-max-width);
}

.post {
    height: auto;
    display: flex;
    flex-flow: column;
    padding-bottom: var(--padding);
    padding-top: calc(var(--padding) / 2);
    justify-content: center;
    align-items: flex-start;
    max-width: var(--post-max-width);
    background-color: var(--color-text);
    margin: 0;
}

.post>h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type);
    margin-bottom: calc(var(--padding) / 12);
    max-width: var(--post-max-width);
}

.post>h2,
.post>h3,
.post>h4 {
    width: 75%;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type-h2);
}

.post>ul {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    width: 75%;
    color: var(--color-secondary);
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type-post);
    font-weight: 400;
}

.post>p+ul {
    margin-top: -1em;
    margin-bottom: 1em;
}

.post>p {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--color-secondary);
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type-post);
    font-weight: 400;
}

.post>p {
    margin-bottom: calc(var(--text-padding));
}

.post>p:last-child {
    margin-bottom: 0;
}

.post>h2>a,
.post>h3>a,
.post>p>a {
    color: rgb(0, 52, 89);
    text-decoration: unset;
    font-weight: 600;
}

.post>h2>a:hover,
.post>h3>a:hover,
.post>p>a:hover {
    text-decoration: underline;
}

.post>blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
    color: var(--color-secondary);
    font-size: var(--fluid-type-post);
    font-weight: 400;
    font-style: italic;
}

.post>blockquote:before {
    content: "\201C";
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em "PT Sans", sans-serif;
    color: var(--color-secondary);
    text-align: center;
}
