/* Backgrounds */

.bg-primary {  
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-tertiary {
     background-color: var(--color-primary);
}

.bg-light {
    background-color: var(--color-text);
}

.bg-post {
    background-color: var(--color-primary);
}

/* Typography */

.txt-1 {
    margin: 2rem 0;
    padding: 0;
    width: auto;
    color: var(--color-text);
    font-size: var(--fluid-type);
}

.txt-2 {
    margin: 0;
    padding: 0;
    width: auto;
    color: var(--color-text);
    text-align: left;
    font-size: var(--fluid-type);
}   

.txt-3  {
    margin: 0;
    padding: 0;
    width: auto;
    color: var(--color-text);
    text-align: right;
    font-size: var(--fluid-type);
}


/* Dynamic Post content */

.content {
    /* margin: 6rem 0; */
    padding: 6rem 0;
    width: 100%;    
    color: var(--color-text);
    font-size: var(--fluid-type-post);
}

/* Custom Svelte way to style these dynamically generated @html elements */
.content > blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1rem 2rem;
    position: relative;
    width: 100%;
    left: -10%;
    color: var(--color-primary);
    font-size: var(--fluid-type-code);
    font-weight: 700;
    background-color: var(--color-accent);
}

/* Custom Svelte way to style these dynamically generated @html elements */
.content > blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-primary);
    width: 3rem;
    height: 2rem;
    font: 3rem 'PT Sans', sans-serif;
    color: var(--color-text);
    text-align: center;
}

/* Custom Svelte way to style these dynamically generated @html elements */
.content > h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type);
    margin-bottom: calc(var(--padding) / 12);
    max-width: var(--post-max-width);
}
.content > h2,
.cont t > h3,
.cont t > h4 {
    width: 75%;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type);
    line-height: 1.2em;
}

/* Custom Svelte way to style these dynamically generated @html elements */
.content > ul {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    color: var(--color-text);
    list-style-type: disc;
    text-align: left;
    font-weight: bold;
    font-size: var(--fluid-type-post);
    font-weight: 400;
}
