/* Fonts */

@font-face {
    font-family: 'JetBrainsMono';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrainsMono';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

/* Variables */

:root {
    /* Spacing */
    --padding: 10vw;
    --text-padding: 24px;
    --text-width: 100%;
    --text-width-tablet: 90%;
    --max-width: 1080px;
    --max-width-sm: 800px;
    --max-width-md: 1000px;
    /* TODO: using a var inside a breakpoint doesn't load the breakpoint */
    --breakpoint-phone: 720px;

    /* Colours */
    --color-primary: #30362F;
    --color-secondary: #625834;
    --color-tertiary: #DA7422;
    --color-text: #FFFBDB;
    --color-accent: #A59132;
    --color-yellow-aaa: #DCC249;
    /* Fluid type */
    --fluid-type: min(max(1rem, 4vw), 32px);
    --fluid-type-h2: min(max(1rem, 4vw), 28px);
    --fluid-type-post: min(max(1rem, 4vw), 20px);
    --fluid-type-code: min(max(1rem, 4vw), 16px);
}

/* Defaults */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 8px;
    font-family: 'JetBrainsMono', sans-serif;
    line-height: 1.4;
}

main {
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: var(--color-primary);
    padding-bottom: 15vh;
}

a {
    color: #f4fffd;
}

a:hover {
    color: #f4fffdc7;
}

ul {
    list-style: 'none';
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

pre code {
    font-size: var(--fluid-type-code);
    font-weight: 400;
    text-align: left;
    position: relative;
    width: 116%;
    left: -8%
}

pre {
    width: 100%;
}
