/* Styles */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
@font-face {
    font-family: 'Input';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Input-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Input';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/Input-Bold.ttf') format('truetype');
}

:root {
    /* Spacing */
    --padding: 10vw;
    --text-padding: 24px;
    --text-width: 100%;
    --text-width-tablet: 90%;
    --post-max-width: 1280px;
    --breakpoint-phone: 850px;

    /* Colours */
    --color-primary: #30362F;
    --color-secondary: #625834;
    --color-tertiary: #DA7422;
    --color-text: #FFFBDB;
    --color-accent: #A59132;

    /* Fluid type */
    --fluid-type: min(max(1rem, 4vw), 40px);
    --fluid-type-h2: min(max(1rem, 4vw), 32px);
    --fluid-type-post: min(max(1rem, 4vw), 24px);
    --fluid-type-code: min(max(1rem, 4vw), 16px);
}


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 8px;
}

a {
    color: #f4fffd;
}

a:hover {
    color: #f4fffdc7;
}

img {
    max-width: 100%;
    display: block;
}

/* Styling code blocks */
pre code {
    font-size: var(--fluid-type-code);
    font-weight: 400;
    text-align: left;
}

pre {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    background-color: #00171f;
}

.header {
    position: absolute;
    width: 100%;
}

main {
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: var(--color-primary);
    padding-bottom: 15vh;
}

.link--contrast {
    margin: 0;
    padding: 0;
    width: 'auto';
    font-size: var(--fluid-type);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-text);
}

.link--contrast:hover {
    text-decoration: underline;
    color: var(--color-primary);
}
